[Unit]
Description=YOLO Object Detection Prod Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/YoloService
ExecStart=/home/ubuntu/YoloService/.venv/bin/python3 /home/ubuntu/YoloService/YoloService/app.py
Restart=always

[Install]
WantedBy=multi-user.target
